<div class="container">
	<br><br><br>
  <h2><b>Gem Listings</b></h2><br>
  <p>Please verify gems availability with our store experts:</p><br>
  <div class="table-responsive">
  <table class="table table-hover">
  	<thead>
		<tr>
		<th>ID</th>
		<th>Shape</th>
		<th>Size</th>
		<th>Description</th>
		<th>Color tone</th>
		<th>Price</th>
		</tr>
	</thead>
	<tbody>
		<% @gemstonesall.each do |g| %>
			<tr>
				<td><%= g.id %></td>
				<td><%= g.shape %></td>
				<td><%= g.size %></td>
				<td><%= g.description %></td>
				<td><%= g.colortone %></td>
				<td><%= g.price %></td>
			<tr>
		<% end %>
	</tbody>
  </table>
</div>
</div>