	<div class="col-xs-12 col-sm-10 col-lg-10">
		<div class="col-xs-12 col-lg-12">
			<div id="banner001" class="row">
				<div class="thumbnail">
				<img class="group list-group-image" src="http://placehold.it/2000x200/000/fff" alt="" />
				</div>
			</div>
		<div>
		<div id="products" class="row">
				<div class="item  col-xs-12 col-lg-3">
					<div class="thumbnail">
						<%= image_tag "pic001.jpg", :class => "group list-group-image" %>   
						<div class="caption">
							<h4 class="group inner grid-group-item-heading">
								Abrasives</h4>
							<!--<p class="group inner grid-group-item-text">
								Product description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
								sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
							<divx class="row">
								<div class="col-xs-12 col-md-6">
									<p class="lead">
										$21.000</p>
								</div>
								<div class="col-xs-12 col-md-6">
									<a class="btn btn-success" href="http://www.europeandesign.ca">Add to cart</a>
								</div>
							</div>-->
						</div>
					</div>
				</div>
				<div class="item  col-xs-12 col-lg-3">
					<div class="thumbnail">
						<%= image_tag "pic004.jpg", :class => "group list-group-image" %> 
						<div class="caption">
							<h4 class="group inner grid-group-item-heading">
								Benches & Accessories</h4>
						</div>
					</div>
				</div>
				<div class="item  col-xs-12 col-lg-3">
					<div class="thumbnail">
						<%= image_tag "pic002.jpg", :class => "group list-group-image" %> 
						<div class="caption">
							<h4 class="group inner grid-group-item-heading">
								Brushes</h4>
						</div>
					</div>
				</div>
				<div class="item  col-xs-12 col-lg-3">
					<div class="thumbnail">
						<%= image_tag "pic003.jpg", :class => "group list-group-image" %> 
						<div class="caption">
							<h4 class="group inner grid-group-item-heading">
								Buffs</h4>
						</div>
					</div>
				</div>
				<div class="item  col-xs-12 col-lg-3">
					<div class="thumbnail">
						<%= image_tag "pic004.jpg", :class => "group list-group-image" %> 
						<div class="caption">
							<h4 class="group inner grid-group-item-heading">
								Burs</h4>
						</div>
					</div>
				</div>
				<div class="item  col-xs-12 col-lg-3">
					<div class="thumbnail">
						<img class="group list-group-image" src="http://placehold.it/500x250/000/fff" alt="" />
						<div class="caption">
							<h4 class="group inner grid-group-item-heading">
								Casting</h4>
						</div>
					</div>
				</div>
				<div class="item  col-xs-12 col-lg-3">
					<div class="thumbnail">
						<img class="group list-group-image" src="http://placehold.it/500x250/000/fff" alt="" />
						<div class="caption">
							<h4 class="group inner grid-group-item-heading">
								Cleaners</h4>
						</div>
					</div>
				</div>
				<div class="item  col-xs-12 col-lg-3">
					<div class="thumbnail">
						<img class="group list-group-image" src="http://placehold.it/500x250/000/fff" alt="" />
						<div class="caption">
							<h4 class="group inner grid-group-item-heading">
								Diamond Tools & Supplies</h4>
						</div>
					</div>
				</div>
				<div class="item  col-xs-12 col-lg-3">
					<div class="thumbnail">
						<img class="group list-group-image" src="http://placehold.it/500x250/000/fff" alt="" />
						<div class="caption">
							<h4 class="group inner grid-group-item-heading">
								Equipments</h4>
						</div>
					</div>
				</div>
				<div class="item  col-xs-12 col-lg-3">
					<div class="thumbnail">
						<img class="group list-group-image" src="http://placehold.it/500x250/000/fff" alt="" />
						<div class="caption">
							<h4 class="group inner grid-group-item-heading">
								Drills</h4>
						</div>
					</div>
				</div>
				<div class="item  col-xs-12 col-lg-3">
					<div class="thumbnail">
						<img class="group list-group-image" src="http://placehold.it/500x250/000/fff" alt="" />
						<div class="caption">
							<h4 class="group inner grid-group-item-heading">
								Files</h4>
						</div>
					</div>
				</div>
				<div class="item  col-xs-12 col-lg-3">
					<div class="thumbnail">
						<img class="group list-group-image" src="http://placehold.it/500x250/000/fff" alt="" />
						<div class="caption">
							<h4 class="group inner grid-group-item-heading">
								Gauges</h4>
						</div>
					</div>
				</div>
				<div class="item  col-xs-12 col-lg-3">
					<div class="thumbnail">
						<img class="group list-group-image" src="http://placehold.it/500x250/000/fff" alt="" />
						<div class="caption">
							<h4 class="group inner grid-group-item-heading">
								Hammers</h4>
						</div>
					</div>
				</div>
				<div class="item  col-xs-12 col-lg-3">
					<div class="thumbnail">
						<img class="group list-group-image" src="http://placehold.it/500x250/000/fff" alt="" />
						<div class="caption">
							<h4 class="group inner grid-group-item-heading">
								Hand Forming</h4>
						</div>
					</div>
				</div>
				<div class="item  col-xs-12 col-lg-3">
					<div class="thumbnail">
						<img class="group list-group-image" src="http://placehold.it/500x250/000/fff" alt="" />
						<div class="caption">
							<h4 class="group inner grid-group-item-heading">
								Lamps</h4>
						</div>
					</div>
				</div>
				<div class="item  col-xs-12 col-lg-3">
					<div class="thumbnail">
						<img class="group list-group-image" src="http://placehold.it/500x250/000/fff" alt="" />
						<div class="caption">
							<h4 class="group inner grid-group-item-heading">
								Magnifiers & Glasses</h4>
						</div>
					</div>
				</div>
				<div class="item  col-xs-12 col-lg-3">
					<div class="thumbnail">
						<img class="group list-group-image" src="http://placehold.it/500x250/000/fff" alt="" />
						<div class="caption">
							<h4 class="group inner grid-group-item-heading">
								Plating</h4>
						</div>
					</div>
				</div>
				<div class="item  col-xs-12 col-lg-3">
					<div class="thumbnail">
						<img class="group list-group-image" src="http://placehold.it/500x250/000/fff" alt="" />
						<div class="caption">
							<h4 class="group inner grid-group-item-heading">
								Pilers & Cutters</h4>
						</div>
					</div>
				</div>
				<div class="item  col-xs-12 col-lg-3">
					<div class="thumbnail">
						<img class="group list-group-image" src="http://placehold.it/500x250/000/fff" alt="" />
						<div class="caption">
							<h4 class="group inner grid-group-item-heading">
								Polishing</h4>
						</div>
					</div>
				</div>
				<div class="item  col-xs-12 col-lg-3">
					<div class="thumbnail">
						<img class="group list-group-image" src="http://placehold.it/500x250/000/fff" alt="" />
						<div class="caption">
							<h4 class="group inner grid-group-item-heading">
								Ring Tools</h4>
						</div>
					</div>
				</div>
				<div class="item  col-xs-12 col-lg-3">
					<div class="thumbnail">
						<img class="group list-group-image" src="http://placehold.it/500x250/000/fff" alt="" />
						<div class="caption">
							<h4 class="group inner grid-group-item-heading">
								Rolling Mills</h4>
						</div>
					</div>
				</div>
				<div class="item  col-xs-12 col-lg-3">
					<div class="thumbnail">
						<img class="group list-group-image" src="http://placehold.it/500x250/000/fff" alt="" />
						<div class="caption">
							<h4 class="group inner grid-group-item-heading">
								Sawblades & Sawframes</h4>
						</div>
					</div>
				</div>
				<div class="item  col-xs-12 col-lg-3">
					<div class="thumbnail">
						<img class="group list-group-image" src="http://placehold.it/500x250/000/fff" alt="" />
						<div class="caption">
							<h4 class="group inner grid-group-item-heading">
								Scale & Weights</h4>
						</div>
					</div>
				</div>
				<div class="item  col-xs-12 col-lg-3">
					<div class="thumbnail">
						<img class="group list-group-image" src="http://placehold.it/500x250/000/fff" alt="" />
						<div class="caption">
							<h4 class="group inner grid-group-item-heading">
								Setting & Engraving</h4>
						</div>
					</div>
				</div>
				<div class="item  col-xs-12 col-lg-3">
					<div class="thumbnail">
						<img class="group list-group-image" src="http://placehold.it/500x250/000/fff" alt="" />
						<div class="caption">
							<h4 class="group inner grid-group-item-heading">
								Soldering Tools</h4>
						</div>
					</div>
				</div>
				<div class="item  col-xs-12 col-lg-3">
					<div class="thumbnail">
						<img class="group list-group-image" src="http://placehold.it/500x250/000/fff" alt="" />
						<div class="caption">
							<h4 class="group inner grid-group-item-heading">
								Store Supplies</h4>
						</div>
					</div>
				</div>
				<div class="item  col-xs-12 col-lg-3">
					<div class="thumbnail">
						<img class="group list-group-image" src="http://placehold.it/500x250/000/fff" alt="" />
						<div class="caption">
							<h4 class="group inner grid-group-item-heading">
								Testing Tools</h4>
						</div>
					</div>
				</div>
				<div class="item  col-xs-12 col-lg-3">
					<div class="thumbnail">
						<img class="group list-group-image" src="http://placehold.it/500x250/000/fff" alt="" />
						<div class="caption">
							<h4 class="group inner grid-group-item-heading">
								Tweezers</h4>
						</div>
					</div>
				</div>
				<div class="item  col-xs-12 col-lg-3">
					<div class="thumbnail">
						<img class="group list-group-image" src="http://placehold.it/500x250/000/fff" alt="" />
						<div class="caption">
							<h4 class="group inner grid-group-item-heading">
								Watch Tools</h4>
						</div>
					</div>
				</div>
				<div class="item  col-xs-12 col-lg-3">
					<div class="thumbnail">
						<img class="group list-group-image" src="http://placehold.it/500x250/000/fff" alt="" />
						<div class="caption">
							<h4 class="group inner grid-group-item-heading">
								Waxes</h4>
						</div>
					</div>
				</div>
			</div>
	</div>
</div>
</div>
</div>