	<div class="col-xs-12 col-sm-10 col-lg-10">
		<div class="col-xs-12 col-lg-12">
			<div id="banner001" class="row">
				<div class="thumbnail">
				<img class="group list-group-image" src="http://placehold.it/2000x200/000/fff" alt="" />
				</div>
			</div>
		<div>
		<div id="products" class="row">
				<div class="item  col-xs-12 col-lg-3">
					<div class="thumbnail">
						<%= image_tag "pic001.jpg", :class => "group list-group-image" %>   
						<div class="caption">
							<h4 class="group inner grid-group-item-heading">
								Setting - SKU 01223448</h4>
							<h4 class="group inner grid-group-item-heading">
								10K Gold</h4>
							<h4 class="group inner grid-group-item-heading">
								Yellow</h4>
							<!--<p class="group inner grid-group-item-text">
								Product description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
								sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
							<divx class="row">
								<div class="col-xs-12 col-md-6">
									<p class="lead">
										$21.000</p>
								</div>
								<div class="col-xs-12 col-md-6">
									<a class="btn btn-success" href="http://www.europeandesign.ca">Add to cart</a>
								</div>
							</div>-->
						</div>
					</div>
				</div>
				<div class="item  col-xs-12 col-lg-3">
					<div class="thumbnail">
						<%= image_tag "pic004.jpg", :class => "group list-group-image" %> 
						<div class="caption">
							<h4 class="group inner grid-group-item-heading">
								Setting - SKU 01223448</h4>
							<h4 class="group inner grid-group-item-heading">
								10K Gold</h4>
							<h4 class="group inner grid-group-item-heading">
								Red</h4>
						</div>
					</div>
				</div>
				<div class="item  col-xs-12 col-lg-3">
					<div class="thumbnail">
						<%= image_tag "pic002.jpg", :class => "group list-group-image" %> 
						<div class="caption">
							<h4 class="group inner grid-group-item-heading">
								Setting - SKU 01223450</h4>
							<h4 class="group inner grid-group-item-heading">
								18K Gold</h4>
							<h4 class="group inner grid-group-item-heading">
								Yellow</h4>
						</div>
					</div>
				</div>
				<div class="item  col-xs-12 col-lg-3">
					<div class="thumbnail">
						<%= image_tag "pic003.jpg", :class => "group list-group-image" %> 
						<div class="caption">
							<h4 class="group inner grid-group-item-heading">
								Setting - SKU 01223466</h4>
							<h4 class="group inner grid-group-item-heading">
								18K Gold</h4>
							<h4 class="group inner grid-group-item-heading">
								White</h4>
						</div>
					</div>
				</div>
				<div class="item  col-xs-12 col-lg-3">
					<div class="thumbnail">
						<%= image_tag "pic004.jpg", :class => "group list-group-image" %> 
						<div class="caption">
							<h4 class="group inner grid-group-item-heading">
								Setting - SKU 01223888</h4>
							<h4 class="group inner grid-group-item-heading">
								10K Gold</h4>
							<h4 class="group inner grid-group-item-heading">
								White</h4>
						</div>
					</div>
				</div>
				<div class="item  col-xs-12 col-lg-3">
					<div class="thumbnail">
						<img class="group list-group-image" src="http://placehold.it/400x200/000/fff" alt="" />
						<div class="caption">
							<h4 class="group inner grid-group-item-heading">
								Clasp - SKU 02223888</h4>
							<h4 class="group inner grid-group-item-heading">
								10K Gold</h4>
							<h4 class="group inner grid-group-item-heading">
								White</h4>
						</div>
					</div>
				</div>
				<div class="item  col-xs-12 col-lg-3">
					<div class="thumbnail">
						<img class="group list-group-image" src="http://placehold.it/400x200/000/fff" alt="" />
						<div class="caption">
							<h4 class="group inner grid-group-item-heading">
								Clasp - SKU 02223888</h4>
							<h4 class="group inner grid-group-item-heading">
								14K Gold</h4>
							<h4 class="group inner grid-group-item-heading">
								Red</h4>
						</div>
					</div>
				</div>
				<div class="item  col-xs-12 col-lg-3">
					<div class="thumbnail">
						<img class="group list-group-image" src="http://placehold.it/400x200/000/fff" alt="" />
						<div class="caption">
							<h4 class="group inner grid-group-item-heading">
								Clasp - SKU 02223484</h4>
							<h4 class="group inner grid-group-item-heading">
								10K Gold</h4>
							<h4 class="group inner grid-group-item-heading">
								White</h4>
						</div>
					</div>
				</div>
				<div class="item  col-xs-12 col-lg-3">
					<div class="thumbnail">
						<img class="group list-group-image" src="http://placehold.it/400x200/000/fff" alt="" />
						<div class="caption">
							<h4 class="group inner grid-group-item-heading">
								Alloy - SKU 03223459</h4>
							<h4 class="group inner grid-group-item-heading">
								10K Gold</h4>
							<h4 class="group inner grid-group-item-heading">
								Blue</h4>
						</div>
					</div>
				</div>
				<div class="item  col-xs-12 col-lg-3">
					<div class="thumbnail">
						<img class="group list-group-image" src="http://placehold.it/400x200/000/fff" alt="" />
						<div class="caption">
							<h4 class="group inner grid-group-item-heading">
								Alloy - SKU 03223460</h4>
							<h4 class="group inner grid-group-item-heading">
								10K Gold</h4>
							<h4 class="group inner grid-group-item-heading">
								Blue</h4>
						</div>
					</div>
				</div>
				<div class="item  col-xs-12 col-lg-3">
					<div class="thumbnail">
						<img class="group list-group-image" src="http://placehold.it/400x200/000/fff" alt="" />
						<div class="caption">
							<h4 class="group inner grid-group-item-heading">
								Alloy - SKU 03223461</h4>
							<h4 class="group inner grid-group-item-heading">
								10K Gold</h4>
							<h4 class="group inner grid-group-item-heading">
								Blue</h4>
						</div>
					</div>
				</div>
				<div class="item  col-xs-12 col-lg-3">
					<div class="thumbnail">
						<img class="group list-group-image" src="http://placehold.it/400x200/000/fff" alt="" />
						<div class="caption">
							<h4 class="group inner grid-group-item-heading">
								Alloy - SKU 03223462</h4>
							<h4 class="group inner grid-group-item-heading">
								10K Gold</h4>
							<h4 class="group inner grid-group-item-heading">
								Blue</h4>
						</div>
					</div>
				</div>
				<div class="item  col-xs-12 col-lg-3">
					<div class="thumbnail">
						<img class="group list-group-image" src="http://placehold.it/400x200/000/fff" alt="" />
						<div class="caption">
							<h4 class="group inner grid-group-item-heading">
								Alloy - SKU 03223463</h4>
							<h4 class="group inner grid-group-item-heading">
								10K Gold</h4>
							<h4 class="group inner grid-group-item-heading">
								Blue</h4>
						</div>
					</div>
				</div>
				<div class="item  col-xs-12 col-lg-3">
					<div class="thumbnail">
						<img class="group list-group-image" src="http://placehold.it/400x200/000/fff" alt="" />
						<div class="caption">
							<h4 class="group inner grid-group-item-heading">
								Alloy - SKU 03223464</h4>
							<h4 class="group inner grid-group-item-heading">
								10K Gold</h4>
							<h4 class="group inner grid-group-item-heading">
								Blue</h4>
						</div>
					</div>
				</div>
				<div class="item  col-xs-12 col-lg-3">
					<div class="thumbnail">
						<img class="group list-group-image" src="http://placehold.it/400x200/000/fff" alt="" />
						<div class="caption">
							<h4 class="group inner grid-group-item-heading">
								Alloy - SKU 03223465</h4>
							<h4 class="group inner grid-group-item-heading">
								10K Gold</h4>
							<h4 class="group inner grid-group-item-heading">
								Blue</h4>
						</div>
					</div>
				</div>
				<div class="item  col-xs-12 col-lg-3">
					<div class="thumbnail">
						<img class="group list-group-image" src="http://placehold.it/400x200/000/fff" alt="" />
						<div class="caption">
							<h4 class="group inner grid-group-item-heading">
								Alloy - SKU 03223466</h4>
							<h4 class="group inner grid-group-item-heading">
								10K Gold</h4>
							<h4 class="group inner grid-group-item-heading">
								Blue</h4>
						</div>
					</div>
				</div>
				<div class="item  col-xs-12 col-lg-3">
					<div class="thumbnail">
						<img class="group list-group-image" src="http://placehold.it/400x200/000/fff" alt="" />
						<div class="caption">
							<h4 class="group inner grid-group-item-heading">
								Alloy - SKU 03223467</h4>
							<h4 class="group inner grid-group-item-heading">
								10K Gold</h4>
							<h4 class="group inner grid-group-item-heading">
								Blue</h4>
						</div>
					</div>
				</div>
				<div class="item  col-xs-12 col-lg-3">
					<div class="thumbnail">
						<img class="group list-group-image" src="http://placehold.it/400x200/000/fff" alt="" />
						<div class="caption">
							<h4 class="group inner grid-group-item-heading">
								Alloy - SKU 03223468</h4>
							<h4 class="group inner grid-group-item-heading">
								10K Gold</h4>
							<h4 class="group inner grid-group-item-heading">
								Blue</h4>
						</div>
					</div>
				</div>
				<div class="item  col-xs-12 col-lg-3">
					<div class="thumbnail">
						<img class="group list-group-image" src="http://placehold.it/400x200/000/fff" alt="" />
						<div class="caption">
							<h4 class="group inner grid-group-item-heading">
								Alloy - SKU 03223470</h4>
							<h4 class="group inner grid-group-item-heading">
								10K Gold</h4>
							<h4 class="group inner grid-group-item-heading">
								Blue</h4>
						</div>
					</div>
				</div>
				<div class="item  col-xs-12 col-lg-3">
					<div class="thumbnail">
						<img class="group list-group-image" src="http://placehold.it/400x200/000/fff" alt="" />
						<div class="caption">
							<h4 class="group inner grid-group-item-heading">
								Alloy - SKU 03223471</h4>
							<h4 class="group inner grid-group-item-heading">
								10K Gold</h4>
							<h4 class="group inner grid-group-item-heading">
								Blue</h4>
						</div>
					</div>
				</div>
				<div class="item  col-xs-12 col-lg-3">
					<div class="thumbnail">
						<img class="group list-group-image" src="http://placehold.it/400x200/000/fff" alt="" />
						<div class="caption">
							<h4 class="group inner grid-group-item-heading">
								Alloy - SKU 03223472</h4>
							<h4 class="group inner grid-group-item-heading">
								10K Gold</h4>
							<h4 class="group inner grid-group-item-heading">
								Blue</h4>
						</div>
					</div>
				</div>
				<div class="item  col-xs-12 col-lg-3">
					<div class="thumbnail">
						<img class="group list-group-image" src="http://placehold.it/400x200/000/fff" alt="" />
						<div class="caption">
							<h4 class="group inner grid-group-item-heading">
								Alloy - SKU 03223473</h4>
							<h4 class="group inner grid-group-item-heading">
								10K Gold</h4>
							<h4 class="group inner grid-group-item-heading">
								Blue</h4>
						</div>
					</div>
				</div>
				<div class="item  col-xs-12 col-lg-3">
					<div class="thumbnail">
						<img class="group list-group-image" src="http://placehold.it/400x200/000/fff" alt="" />
						<div class="caption">
							<h4 class="group inner grid-group-item-heading">
								Alloy - SKU 03223474</h4>
							<h4 class="group inner grid-group-item-heading">
								10K Gold</h4>
							<h4 class="group inner grid-group-item-heading">
								Blue</h4>
						</div>
					</div>
				</div>
				<div class="item  col-xs-12 col-lg-3">
					<div class="thumbnail">
						<img class="group list-group-image" src="http://placehold.it/400x200/000/fff" alt="" />
						<div class="caption">
							<h4 class="group inner grid-group-item-heading">
								Alloy - SKU 03223476</h4>
							<h4 class="group inner grid-group-item-heading">
								10K Gold</h4>
							<h4 class="group inner grid-group-item-heading">
								Blue</h4>
						</div>
					</div>
				</div>
				<div class="item  col-xs-12 col-lg-3">
					<div class="thumbnail">
						<img class="group list-group-image" src="http://placehold.it/400x200/000/fff" alt="" />
						<div class="caption">
							<h4 class="group inner grid-group-item-heading">
								Alloy - SKU 03223477</h4>
							<h4 class="group inner grid-group-item-heading">
								10K Gold</h4>
							<h4 class="group inner grid-group-item-heading">
								Blue</h4>
						</div>
					</div>
				</div>
				<div class="item  col-xs-12 col-lg-3">
					<div class="thumbnail">
						<img class="group list-group-image" src="http://placehold.it/400x200/000/fff" alt="" />
						<div class="caption">
							<h4 class="group inner grid-group-item-heading">
								Alloy - SKU 03223478</h4>
							<h4 class="group inner grid-group-item-heading">
								10K Gold</h4>
							<h4 class="group inner grid-group-item-heading">
								Blue</h4>
						</div>
					</div>
				</div>
				<div class="item  col-xs-12 col-lg-3">
					<div class="thumbnail">
						<img class="group list-group-image" src="http://placehold.it/400x200/000/fff" alt="" />
						<div class="caption">
							<h4 class="group inner grid-group-item-heading">
								Alloy - SKU 03223479</h4>
							<h4 class="group inner grid-group-item-heading">
								10K Gold</h4>
							<h4 class="group inner grid-group-item-heading">
								Blue</h4>
						</div>
					</div>
				</div>
				<div class="item  col-xs-12 col-lg-3">
					<div class="thumbnail">
						<img class="group list-group-image" src="http://placehold.it/400x200/000/fff" alt="" />
						<div class="caption">
							<h4 class="group inner grid-group-item-heading">
								Alloy - SKU 03223480</h4>
							<h4 class="group inner grid-group-item-heading">
								10K Gold</h4>
							<h4 class="group inner grid-group-item-heading">
								Blue</h4>
						</div>
					</div>
				</div>
				<div class="item  col-xs-12 col-lg-3">
					<div class="thumbnail">
						<img class="group list-group-image" src="http://placehold.it/400x200/000/fff" alt="" />
						<div class="caption">
							<h4 class="group inner grid-group-item-heading">
								Alloy - SKU 03223481</h4>
							<h4 class="group inner grid-group-item-heading">
								10K Gold</h4>
							<h4 class="group inner grid-group-item-heading">
								Blue</h4>
						</div>
					</div>
				</div>
				<div class="item  col-xs-12 col-lg-3">
					<div class="thumbnail">
						<img class="group list-group-image" src="http://placehold.it/400x200/000/fff" alt="" />
						<div class="caption">
							<h4 class="group inner grid-group-item-heading">
								Alloy - SKU 03223482</h4>
							<h4 class="group inner grid-group-item-heading">
								10K Gold</h4>
							<h4 class="group inner grid-group-item-heading">
								Blue</h4>
						</div>
					</div>
				</div>
			</div>
	</div>
</div>
</div>
</div>