<%= form_tag("/search", method: "get") do %>

  <div class="field">
    <%= label_tag 'shape_round', 'Round' %>
    <%= check_box_tag 'music[shape][]','Round', checked('Round'), id:'shape_round' %>

    <%= label_tag 'shape_marquis', 'Marquis' %>
    <%= check_box_tag 'music[shape][]','Marquis', checked('Marquis'), id:'shape_marquis' %>

  </div>

  <div class="actions">
   <%= submit_tag("Search") %>
  </div>
<% end %>
