<%= form_for gemstone do |f| %>
	<p>
		<%= f.label :shape %><br>
		<%= f.select :shape, Admgemstone::SHAPES -%>
	</p>
	<p>
		<%= f.label :size %><br>
		<%= f.text_field :size %>
	</p>
	<p>
		<%= f.label :stone %><br>
		<%= f.select :stone, Admgemstone::STONES %>
	</p>
	<p>
		<%= f.label :colortone %><br>
		<%= f.select :colortone, Admgemstone::COLORTONES %>
	</p>
	<p>
		<%= f.label :gemtype, 'Type' %><br>
		<%= f.select :gemtype, Admgemstone::GEMTYPES %>
	</p>
		<p>
		<%= f.label :brand %><br>
		<%= f.select :brand, Admgemstone::BRANDS %>
	</p>
	<p>
		<%= f.label :price %><br>
		<%= f.text_field :price %>
	</p>
	<p>
		<%= f.submit update ? "Update" : "Create Gemstone"%>
	</p>

<% end %>
