<h1> Edit existing Gemstone</h1>
<% if @admgemstone.errors.any? %>
<h2 style="color:red;">The following errors prevented the gemstone from getting created</h2>
<ul>
	<% @admgemstone.errors.full_messages.each do |msg| %>
	<li><%= msg %></li>
	<% end %>
</ul>
<% end %>

<%= form_for @admgemstone do |f| %>
	<p>
		<%= f.label :shape %><br>
		<%= f.text_field :shape %>
	</p>
	<p>
		<%= f.label :size %><br>
		<%= f.text_field :size %>
	</p>
	<p>
		<%= f.label :description %><br>
		<%= f.text_field :description %>
	</p>
	<p>
		<%= f.label :colortone %><br>
		<%= f.text_field :colortone %>
	</p>
		<p>
		<%= f.label :gemtype, "Type" %><br>
		<%= f.text_field :gemtype %>
	</p>
		<p>
		<%= f.label :brand %><br>
		<%= f.text_field :brand %>
	</p>
	<p>
		<%= f.label :price %><br>
		<%= f.text_field :price %>
	</p>
	<p>
		<%= f.submit "Update Gemstone"%>
	</p>

<% end %>
<%= link_to "Back to Gemstones listing", admgemstones_path %>