<div class="container">

  <h2><b>Gem Listings</b></h2><br>
  <p>Please verify gems availability with our store experts:</p><br>
  <%= link_to 'New Gemstone', new_admgemstone_path, class: 'btn btn-success btn-md' -%>

  <div class="table-responsive">
  <table class="table table-hover table-condensed table-striped">
  	<thead>
  		<tr>
    		<th>ID</th>
    		<th>Shape</th>
    		<th>Size</th>
    		<th>Description</th>
    		<th>Color Tone</th>
    		<th>Type</th>
    		<th>Brand</th>
    		<th>Price</th>
        <th colspan="2"></th>
  		</tr>
  	</thead>
	<tbody>
		<% @admgemstonesall.each do |g| %>
			<tr >
				<td><%= g.id %></td>
				<td><%= g.shape %></td>
				<td><%= g.size %></td>
				<td><%= g.description %></td>
				<td><%= g.colortone %></td>
				<td><%= g.gemtype %></td>
				<td><%= g.brand %></td>
				<td><%= number_to_currency g.price %></td>
				<td><%= link_to 'Edit', edit_admgemstone_path(g), class: 'btn btn-warning btn-sm' %></td>
				<td><%= link_to 'Delete', admgemstone_path(g), method: :delete, data: {confirm: "Are you sure?"}, class: 'btn btn-danger btn-sm' %></td>
			<tr>
		<% end %>
	</tbody>
  </table>
</div>
</div>
