<h1>Create a Gemstone</h1>

<% if @admgemstone.errors.any? %>
<h2>The following errors prevented the gemstone record from getting created</h2>
<ul>
	<% @admgemstone.errors.full_messages.each do |msg| %>
	<li><%= msg %></li>
	<% end %>
</ul>
<% end %>

<%= form_for @admgemstone do |f| %>
	<p>
		<%= f.label :shape %><br>
		<%= f.select :shape, Admgemstone::SHAPES -%>
	</p>
	<p>
		<%= f.label :size %><br>
		<%= f.text_field :size %>
	</p>
	<p>
		<%= f.label :description %>
		<br>
		<%= f.text_field :description %>
	</p>
	<p>
		<%= f.label :colortone %><br>
		<%= f.text_field :colortone %>
	</p>
	<p>
		<%= f.label :gemtype, 'Type' %>
		<br>
		<%= f.select :gemtype, Admgemstone::GEM_TYPES %>
	</p>
		<p>
		<%= f.label :brand %><br>
		<%= f.text_field :brand %>
	</p>
	<p>
		<%= f.label :price %><br>
		<%= f.text_field :price %>
	</p>
	<p>
		<%= f.submit "Create Gemstone"%>
	</p>

<% end %>

<%= link_to "Back to Gemstone listing", admgemstones_path %>
