<h1>Showing selected gemstone</h1>

<p>
  Shape: <%= @admgemstone.shape %>
</p>

<p>
  Size: <%= @admgemstone.size %>
</p>

<p>
  Stone: <%= @admgemstone.stone %>
</p>

<p>
  Color Tone: <%= @admgemstone.colortone %>
</p>

<p>
  Type: <%= @admgemstone.gemtype %>
</p>

<p>
  Brand: <%= @admgemstone.brand %>
</p>

<p>
  Price: <%= number_to_currency @admgemstone.price %>
</p>

<%= link_to "Edit this gemstone", edit_admgemstone_path(@admgemstone) %> |
<%= link_to "Back to gemstone listing", admgemstones_path %>
