
<!-- BEGIN SIDEBAR -->
	<div class="accordion col-xs-2 col-lg-2">	
		  <div class="collapse navbar-collapse">
			<div class="opened-for-codepen">
			
				<% @toolcategories = Toolcategory.all.order("level1, level2, level3") %>
	    
				    <% exlevel1="" %>
				    <% exlevel2="" %>
				    <% exlevel3="" %>

				    <% @toolcategories.each do |tc| %>

				    	<% if tc.level1? and not(exlevel1 == tc.level1.to_s) %>
				      		
				      		<% if not(tc.level2?) %>
				      			<h1><%= link_to tc.level1, tools_path(tcat1: tc.level1, tcat2: nil, tcat3: nil) %></h1><div>
				      		<% else %>
				      			<h1><%= tc.level1 %></h1><div>
				      		<% end %>
				      	<% end %>


				      	<% if tc.level2? and not(exlevel2 == tc.level2.to_s and (exlevel3 == tc.level3.to_s)) %>
				      		<% if not(exlevel2 == tc.level2.to_s) %>
					      		<% if not(exlevel3=="") %>
					      			<% if not(tc.level3?) %>
					      				</div>
				      					<h2><%= link_to tc.level2, tools_path(tcat1: tc.level1, tcat2: tc.level2, tcat3: nil) %></h2><div>
				      				<% else %>
							      		</div>
							      		<h2><%= tc.level2 %></h2><div>
						      		<% end %>
					      		<% else %>
					      			<% if not(tc.level3?) %>
				      					<h2><%= link_to tc.level2, tools_path(tcat1: tc.level1, tcat2: tc.level2, tcat3: nil) %></h2><div>
				      				<% else %>
							      		<h2><%= tc.level2 %></h2><div>
						      		<% end %>
					      		<% end %>
					      	<% end %>
				      	<% else %>
				      		</div>
				      	<% end %>


				      	<% if tc.level3? and not((exlevel3 == tc.level3.to_s) and (exlevel2 == tc.level2.to_s)) %>
				      		<h3><%= link_to tc.level3, tools_path(tcat1: tc.level1, tcat2: tc.level2, tcat3: tc.level3) %></h3><div></div>
				      	<% else %>
				      		<% if tc.level2?  %>
				      			<% if not(exlevel3 == "") %>
				      				</div></div>
				      			<% else %>
				      				</div>
				      			<% end %>
				      		<% end %>
				      	<% end %>
				      	<% exlevel1=tc.level1.to_s %>
						<% exlevel2=tc.level2.to_s %>
				      	<% exlevel3=tc.level3.to_s %>

	   			<% end %>
					


						<!--
				  <h1>Abrasives</h1><div></div>
				  <h1>Benches & Accessories</h1><div></div>
				  <h1>Brushes</h1><div></div>
				  <h1>Buffs</h1><div></div>
				  <h1>Burs</h1><div></div>
				  <h1>Casting</h1><div></div>
				  <h1>Cleaners</h1><div></div>
				  <h1>Diamond Tools & Supplies</h1><div></div>
				  <h1>Equipments</h1>
				  <div>
					<h2>Laser Welder Evo Series</h2><div></div>
					<h2>Laser R Writer</h2>
					<div>
						<h3>A Class</h3><div></div>
						<h3>B Class</h3><div></div>
						<h3>C Class</h3><div></div>
					</div>
					<h2>Galloni Pressovac</h2><div></div>
					<h2>Gravograph Ring Cube</h2><div></div>
				  </div>
				  <h1>Drills</h1><div></div>
				  <h1>Files</h1><div></div>
				  <h1>Gauges</h1><div></div>
				  <h1>Hammers</h1><div></div>
				  <h1>Hand Forming</h1><div></div>
				  <h1>Lamps</h1><div></div>
				  <h1>Magnifiers & Glasses</h1><div></div>
				  <h1>Plating</h1><div></div>
				  <h1>Pilers & Cutters</h1><div></div>
				  <h1>Polishing</h1><div></div>
				  <h1>Ring Tools</h1><div></div>
				  <h1>Rolling Mills</h1><div></div>
				  <h1>Sawblades & Sawframes</h1><div></div>
				  <h1>Scale & Weights</h1><div></div>
				  <h1>Setting & Engraving</h1><div></div>
				  <h1>Soldering Tools</h1><div></div>
				  <h1>Store Supplies</h1><div></div>
				  <h1>Testing Tools</h1><div></div>
				  <h1>Tweezers</h1><div></div>
				  <h1>Watch Tools</h1><div></div>
				  <h1>Waxes</h1><div></div>	
				  -->	
			</div>
			</div>
		</div>
		